REDIS_HOST=redis
REDIS_PORT=6379
SESSION_SECRET=change_me_in_production
PORT=3000
NODE_EV=development
FRONTEND_PORT=8080 # modificado a 8180 en la versión 4, para evitar conflictos con la versión 2 que también expone el puerto 808
